<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <span>NavBrand</span>
  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="navigate('/login')">
    <mat-icon>people</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item (click)="navigate('/sign')">
    <mat-icon>assignment</mat-icon>
    <span>Sign</span>
  </button>
</mat-menu>

