<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <!--  Guest mode    -->
    <button mat-icon-button [matMenuTriggerFor]="menu" >
      <mat-icon>more_vert</mat-icon>
    </button>

    <a mat-icon-button routerLink="/" class="link" style="color:white;"><mat-icon>home</mat-icon></a>
  </mat-toolbar-row>
</mat-toolbar>
<br>


<mat-menu #menu="matMenu">

  <button mat-menu-item (click)="navigate('/')" *ngIf="(isLogged$ | async)">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>

  <button mat-menu-item (click)="navigate('/settings')" *ngIf="(isLogged$ | async)">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()" *ngIf="(isLogged$ | async)">
    <mat-icon>do_not_disturb_alt</mat-icon>
    <span>Logout</span>
  </button>

  <!-- Guest Mode -->
  <button mat-menu-item (click)="navigate('/login')" *ngIf="!(isLogged$ | async)">
    <mat-icon>people</mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item (click)="navigate('/sign')" *ngIf="!(isLogged$ | async)">
    <mat-icon>assignment</mat-icon>
    <span>Sign</span>
  </button>
</mat-menu>

