<mat-card class="container">
  <mat-card-header>
    <mat-icon></mat-icon>
    <mat-card-title class="mat-typography">
      <h1 class="mat-headline mat-display-1 text-center">
        <mat-icon>supervisor_account</mat-icon>
        Administration
      </h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-raised-button routerLink="/administration/users" class="form-control">
          <mat-icon>people</mat-icon>
          <span>Manage users</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

</mat-card>
