/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap-grid";
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";

.spacer {
  flex: 1 1 auto;
}

.link {
  text-decoration: none;
  color: #1976D2;
}

.matPrefix {
  margin-right: .5em;
}

.form-input {
  font-size: 1.3em;
  width: 98%;
}

.text {

  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

}
